# Next.js
.next/
out/

# Node.js
node_modules/
.npm
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# npm / pnpm / yarn
npm-debug.log*
.pnpm-debug.log*
.yarn-debug.log*
.pnpm-store/

# macOS
.DS_Store

# Thumbnails
.thumbnails/

# Logs
logs/
*.log

# Misc
.idea/
*.tgz
*.swp
*.swo
*.bak
*.tmp
*.sublime-project
*.sublime-workspace
*.history
*.csv
*.sql
*.sqlite
*.sqlite3
*.db
*.xml
*.toml
*.ini
*.cfg
*.conf
*.pid
*.sock
*.lock
*.backup
*.orig
*.rej
*.diff
*.patch

# Vercel
.vercel/
